<div class="wrapper">
  <div class="sidebar">
    <app-sidebar [users]="users['body']"></app-sidebar>
  </div>
  <div class="main">
    <h1>Count users using polling</h1>

    <table border="1">
      <thead>
      <tr>
        <td>execution id</td>
        <td>wallet id</td>
        <td>amount</td>
        <td>type id</td>
        <td>currency id</td>
        <td></td>
      </tr>
      </thead>
      <tr *ngFor="let u of users['body']" style="width: 500px">
        <td>{{u.executionId}}</td>
        <td>{{u.walletId}}</td>
        <td>{{u.amount | currency:'RM'}}</td>
        <td>{{u.typeId}}</td>
        <td>{{u.currencyId}}</td>
        <td><input type="button" value="Remove" (click)="remove(u.id)"></td>
      </tr>
    </table>

  </div>
  <div class="main">
    <select name="" id="" (change)="toggleDiv()">
      <option value="true">Enable</option>
      <option value="false">Disable</option>
    </select>

    <div [disableDiv]="disableDiv">
      <h1>disabled div</h1>
      <label for="t">
        Input
      </label>
      <input type="text" name="t" id="t">
      <button mat-button (click)="alertx('adasdasdas')">
        <mat-icon class="mat-18">lock_outline</mat-icon>
      </button>
    </div>
  </div>
</div>

