.wrapper {
  display: flex;
  justify-content: stretch;
}

.main,
.sidebar {
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
}

.main {
  height: 150vh;
}

.sidebar {
  width: 25%;
  height: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
  padding: 10px;
}
